* {
  margin: 0px;
  padding: 0px;
  font-family: 'Karla', sans-serif;
}

.app-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
  text-align: center;
}
.form-inicial {
  display: flex;
  flex-direction: column;
}

.titulo-inicial {
  font-size: 200%;
  margin: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 800;
}



.form-content {
  width: 70%;
  height: 75%;
  padding-bottom: 12%;
}
a {
  color:black;
  padding: 15px;
}
button {
  background-color: #70a83b;
  border-radius: 11px;
  margin: 20px;
  width: 200px;
  height: 65px;
  font-size: 100%;
  border: 0;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  font-weight: 500;
}
.cont-container {
   background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}

